{% extends 'ticketsplit/base.html' %}

{% block title %} How to use split tickets {% endblock %}

{% block content %}
<h4 id="error">
	HOW TO USE SPLIT
</h4>
<div id="info">
	<p>
		<u><b>Passengers traveling using split train tickets</b></u> travel exactly the same way they woud have had they been traveling on a reguar through train ticket. The only difference is that by splitting their tickets they may have paid a lot less for the same journey.
	​</p>
	<p>
		<u><b>You still travel on the same train, at the same times and in the same seat</b></u> but with two or more cheaper tickets instead of one expensive ticket. The only condition when using split train tickets is that the train you take must stop at all the places you have bought tickets for and not just pass through them.
	</p>
	<p>
		<u><b>Using split is easy.</b></u>On the home page:
	</p>
	<p>
		1. Input which station code you are travelling from
	</p>
	<p>
		2. Input which station code you are travelling to.
	</p>
	<p>
		*Find the station codes <a href="https://www.nationalrail.co.uk/stations_destinations/48541.aspx">here</a>
	</p>
	<p>
		3. Click <b>Submit</b> and away you go!
	</p>
	<br>
	<p>
		<i>This site uses Train fares data under licence from <a href="http://data.atoc.org/">RSP</a> (JAN 2020)</i>
	</p>
	<p>
		<i>This website shows single fares that are available on the day of travel. In many cases (but not all), return, advance or season tickets will be cheaper. It can be even cheaper to split these as well.</i>
	</p>
</div>
<br>
{% endblock %}
