{% extends 'ticketsplit/base.html' %}

{% block title %} What are split tickets? {% endblock %}

{% block content %}

<h4 id="error">
	WHAT IS TICKET SPLITTING?
</h4>
<div id="info">
	<p>
		<b>Split ticketing</b> is currently used by savvy travelers to <b>pay less than the price of a single ticket</b> on some routes at certain times - the loophole involves buying multiple tickets for different sections of the same journey.
	​</p>
	<p>
		<b>Passengers do this to save money.</b> Britain’s complicated rail ticketing system means it can be cheaper to buy tickets from A to B and B to C, even if you are travelling on a single train from A to C.
	​</p>
	<p>
		<b>It normally takes 5 to 10 minutes</b> for passengers to find the price of different combinations of fares to check if it is worth splitting tickets for their trip.
	​</p>
	<p>
		<b>It can be much quicker to use one of a number of websites</b> which search the fares database to find the cheapest option. Some of these take a cut of the savings (This site does not).
	​</p>
	<p>
		<b>Split ticketing is perfectly legal</b> and is allowed by the National Conditions of Travel under which all train operating companies on the national rail network do business.
	​</p>
	<p>
		<b>The only condition when using split train tickets is the train you take must stop at all the places you have bought tickets for and not just pass through them.</b> You do not have to leave the train and get back on it in between the start and end of your journey.
	</p>
</div>
<br>
{% endblock %}

